.finishBtn{
   left:40%

}
.standingContainer{
   margin-bottom: 25px;
}

@media screen and (max-width: 640px) {
   .headerRow{
      font-weight: bold;
      border: 1px solid black;
   }
   .headerRow div{
      font-size: 6px;

   }
 }